body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.newsShows {
    background-size: 396px 284px;
    height: 200px;
    margin: 10px 1px;
    padding: 0;
}

#rowDays {
    margin-top: 15px;
}

.programLinkPassed 
{
    color: dimgray;
}

.owl-carousel .owl-item img {
    height: 35px;
    width: 35px !important;
    position: absolute;
    margin-top: 150px;
    margin-left: 5px;
}

.aPopularShows {
    margin-top: 160px;
    position: absolute;
    padding-left: 50px;
}

.popularShows {
    background-size: 396px 284px;
    height: 200px;
    margin: 10px 1px;
    padding: 0;
}
.popularHeader {
    position: absolute;
    background: #333333;
    opacity: 0.8;
    width: 100%;
    padding: 5px 0 5px 10px;
    margin: 9px 0 0 0;
    z-index:2;
    font-size: 22px;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

.channelIconPopup {
    height: 40px;
    padding-right: 20px;
}

.channelIcon {
    height: 40px;
    float: right;
}
/* pop-up div styling before targeted */
.overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}


/* pop-up styling */
.popup {
    margin: 80px 33% 0 33%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: absolute;
    transition: all 5s ease-in-out;
}

.popup h3 {
    margin: -30px 0 0 55px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

/* Closing button*/
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* Pop-up content*/
.popup .content {
    max-height: 50%;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
/*.number  ul{
    background :#fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}*/
.menudays {
    font-size:13px;
}
.menudays a {
    font-weight:bold;
}