@model WebApplication.Models.ViewModels.IndexHomeVM
<div class="row">
    <div class="col-lg-12 popularShows">
        @Html.Action("LoadPopularPrograms")
    </div>
</div>


<div class="row">

    <div id="day-container">
        <nav id="navday">
            <a href="#" id="menu-days-icon"></a>
            <ul class="menudays">
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="containerChannel">
        </div>
    </div>
    <div class="row">
        <div class="containerChannel2">
        </div>
    </div>
        <div id="programPopup">
        </div>
</div>


