@model WebApplication.Models.ViewModels.IndexHomeVM
<div class="row" id="popularShowsContainer">
    <div class="col-lg-12 popularShows">
        @Html.Action("LoadPopularPrograms")
    </div>
</div>


<div class="row">

    <div class="row" id="rowDays">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav menudays">
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="containerChannel" id="ul">
        </div>
    </div>
    <div class="row">
        <div class="containerChannel2">
        </div>
    </div>
        <div id="programPopup">
        </div>
</div>


