@model  List<RepoAndUnitOfWork.Entities.Program>

@foreach (var program in Model)
{
    <img class ="viewListLogo"src="@("http://logos.xmltv.se/"+program.Channel+".png")" /><p>@program.Title   @program.Start_time</p>
}


