@model  List<RepoAndUnitOfWork.Entities.Program>

@foreach (var program in Model)
{
    <img class ="viewListLogo"src="@("http://logos.xmltv.se/"+program.Channel+".png")" /><p>@program.Title   @program.Start_time<span data-programId="@program.Id" class="close" onclick="removeProgram(this)">&times;</span> </p>
}


