@model RepoAndUnitOfWork.Entities.Program

<div id="popupMovie" class="overlay">
    <div class="popup">
        <h3>@Model.Title</h3>

        <a class="close" href="">&times;</a>
        <div class="content">
            <hr class="footerhr" />
            Starttid: @Model.Start_time - @Model.End_time<br><br>

            @*@Model.desc<br><br>*@

            @*@foreach (var item in Model.category.en)
            {
                <i>item</i>
            }*@

        </div>
    </div>
</div>