@model WebApplication.Models.ViewModels.DaysVM

@foreach (var item in Model.ListOfDays)
{
    <li class="days"><a class="showDayShow" onclick="changeShowSchedual(this)" data-dateTime="@item.Date.ToShortDateString()">@item.Day @item.Date.ToShortDateString()</a></li>
}
