
@{
    ViewBag.Title = "Error500";
}

<br />
<div class="alert alert-dismissible alert-warning">
    <h4>Vart är du på väg?</h4>
    <p>Sidan du försöker komma åt finns inte längre. <a class="alert-link">@Html.ActionLink("Startsidan", "Index", "Home")</a></p>
</div>

